<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/test.css}">
</head>
<body>
<div class="starter-template">
    <h1>Test template</h1>
    <h2>
        <span th:text="'Hello, ' + ${resume.address}"></span>
    </h2>
    <h2>
        <br>
        <span th:text="'Hello, ' + ${resume.name}"></span>
    </h2>
    <h2>
        <br>
        <span th:text="'Hello, ' + ${resume.phoneNumber}"></span>
    </h2>


    <div th:each="educationHistory, rowStat : ${resume.educationalHistoryList}">
        <span th:text="${rowStat.count}">1</span>
        <span th:text="${educationHistory.institution}"></span>
        <span th:text="${educationHistory.institutionType}"></span>
        <span th:text="${educationHistory.startYear}"></span>
        <span th:text="${educationHistory.endYear}"></span>
    </div>

</div>
</body>
</html>